@import './base.css';

button.light {
    background-color: var(--colors-neutral-0);
    color: var(--colors-neutral-900);
    border: 1px solid var(--colors-neutral-200);
    box-shadow: 0 1px 2px 0 rgba(184, 196, 215, 0.40);
}

button.light:hover {
    opacity: 0.7;
}

button.light:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--colors-neutral-200), 0 0 0 4px var(--colors-red-400);
}

button.light.active {
    font-weight: 500;
    background: var(--colors-red-700);
    color: var(--colors-neutral-0);
    border-color: transparent;
}

button.light:hover.active {
    background-color: var(--colors-red-500);
}

button.light:focus.active {
    box-shadow: 0 0 0 2px var(--colors-neutral-0), 0 0 0 4px var(--colors-red-400);
}